<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>SmileyList</key>
	<array>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string>=-)</string>
				<string>=)</string>
			</array>
			<key>Filename</key>
			<string>smile.tif</string>
			<key>SmileyName</key>
			<string>Smile</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
			</array>
			<key>Filename</key>
			<string>wink.tif</string>
			<key>SmileyName</key>
			<string>Wink</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string>=(</string>
				<string>=-(</string>
			</array>
			<key>Filename</key>
			<string>frown.tif</string>
			<key>SmileyName</key>
			<string>Frown</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-|</string>
				<string>:|</string>
			</array>
			<key>Filename</key>
			<string>ambivalent.tif</string>
			<key>SmileyName</key>
			<string>Ambivalent</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-/</string>
				<string>:/</string>
				<string>:-\</string>
				<string>:\</string>
				<string>=\</string>
				<string>=/</string>
				<string>=-\</string>
				<string>=-/</string>
			</array>
			<key>Filename</key>
			<string>slant.tif</string>
			<key>SmileyName</key>
			<string>Undecided</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-O</string>
				<string>:O</string>
				<string>:-o</string>
				<string>:o</string>
				<string>=-O</string>
				<string>=O</string>
				<string>=-o</string>
				<string>=o</string>
			</array>
			<key>Filename</key>
			<string>gasp.tif</string>
			<key>SmileyName</key>
			<string>Gasp</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string>=D</string>
				<string>=-D</string>
			</array>
			<key>Filename</key>
			<string>laugh.tif</string>
			<key>SmileyName</key>
			<string>Laugh</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
				<string>=*</string>
				<string>=-*</string>
			</array>
			<key>Filename</key>
			<string>kiss.tif</string>
			<key>SmileyName</key>
			<string>Kiss</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-P</string>
				<string>:P</string>
				<string>:-p</string>
				<string>:p</string>
				<string>:-b</string>
				<string>:b</string>
				<string>=p</string>
				<string>=P</string>
				<string>=b</string>
				<string>=-b</string>
				<string>=-p</string>
				<string>=-P</string>
			</array>
			<key>Filename</key>
			<string>yuck.tif</string>
			<key>SmileyName</key>
			<string>Sticking out tongue</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-d</string>
				<string>:d</string>
			</array>
			<key>Filename</key>
			<string>yum.tif</string>
			<key>SmileyName</key>
			<string>Yum</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>^_^</string>
				<string>^^</string>
				<string>^-^</string>
			</array>
			<key>Filename</key>
			<string>grin.tif</string>
			<key>SmileyName</key>
			<string>Grin</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-&gt;</string>
				<string>:&gt;</string>
				<string>^o)</string>
			</array>
			<key>Filename</key>
			<string>sarcastic.tif</string>
			<key>SmileyName</key>
			<string>Sarcastic</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>&gt;:-o</string>
				<string>&gt;:o</string>
				<string>&gt;:-O</string>
				<string>&gt;:O</string>
				<string>&gt;:-(</string>
				<string>&gt;:(</string>
			</array>
			<key>Filename</key>
			<string>angry.tif</string>
			<key>SmileyName</key>
			<string>Angry</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:'(</string>
				<string>='(</string>
			</array>
			<key>Filename</key>
			<string>cry.tif</string>
			<key>SmileyName</key>
			<string>Cry</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
				<string>B-)</string>
				<string>B)</string>
			</array>
			<key>Filename</key>
			<string>cool.tif</string>
			<key>SmileyName</key>
			<string>Cool</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-B</string>
				<string>:B</string>
				<string>8-B</string>
				<string>8B</string>
			</array>
			<key>Filename</key>
			<string>nerd.tif</string>
			<key>SmileyName</key>
			<string>Nerd</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>O:-)</string>
				<string>o:-)</string>
				<string>O:)</string>
				<string>o:)</string>
			</array>
			<key>Filename</key>
			<string>innocent.tif</string>
			<key>SmileyName</key>
			<string>Innocent</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>&gt;:-)</string>
				<string>&gt;:)</string>
				<string>&gt;:-&gt;</string>
				<string>&gt;:&gt;</string>
			</array>
			<key>Filename</key>
			<string>naughty.tif</string>
			<key>SmileyName</key>
			<string>Naughty</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-X</string>
				<string>:X</string>
				<string>=X</string>
				<string>=-X</string>
			</array>
			<key>Filename</key>
			<string>sealed.tif</string>
			<key>SmileyName</key>
			<string>Lips are sealed</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-!</string>
				<string>:!</string>
			</array>
			<key>Filename</key>
			<string>footinmouth.tif</string>
			<key>SmileyName</key>
			<string>Foot in mouth</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
				<string>=[</string>
				<string>=-[</string>
			</array>
			<key>Filename</key>
			<string>embarrassed.tif</string>
			<key>SmileyName</key>
			<string>Embarrassed</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>%-)</string>
				<string>%)</string>
			</array>
			<key>Filename</key>
			<string>crazy.tif</string>
			<key>SmileyName</key>
			<string>Crazy</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-S</string>
				<string>:S</string>
				<string>:-s</string>
				<string>:s</string>
				<string>%-(</string>
				<string>%(</string>
				<string>X-(</string>
				<string>X(</string>
			</array>
			<key>Filename</key>
			<string>confused.tif</string>
			<key>SmileyName</key>
			<string>Confused</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
				<string>=$</string>
				<string>=-$</string>
			</array>
			<key>Filename</key>
			<string>moneymouth.tif</string>
			<key>SmileyName</key>
			<string>Money-mouth</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>:-&amp;</string>
				<string>:&amp;</string>
				<string>=&amp;</string>
				<string>=-&amp;</string>
				<string>:-@</string>
				<string>:@</string>
				<string>=@</string>
				<string>=-@</string>
			</array>
			<key>Filename</key>
			<string>sick.tif</string>
			<key>SmileyName</key>
			<string>Sick</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>&lt;3</string>
			</array>
			<key>Filename</key>
			<string>heart.tif</string>
			<key>SmileyName</key>
			<string>Heart</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>(Y)</string>
				<string>(y)</string>
			</array>
			<key>Filename</key>
			<string>thumbsup.tif</string>
			<key>SmileyName</key>
			<string>Thumbs Up</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>(N)</string>
				<string>(n)</string>
			</array>
			<key>Filename</key>
			<string>thumbsdown.tif</string>
			<key>SmileyName</key>
			<string>Thumbs Down</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[cowboy]</string>
			</array>
			<key>Filename</key>
			<string>Cowboy.tif</string>
			<key>SmileyName</key>
			<string>Cowboy</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[salute]</string>
			</array>
			<key>Filename</key>
			<string>Salute.tif</string>
			<key>SmileyName</key>
			<string>Salute</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[star]</string>
			</array>
			<key>Filename</key>
			<string>Star.tif</string>
			<key>SmileyName</key>
			<string>Star</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[melting]</string>
			</array>
			<key>Filename</key>
			<string>Melting.tif</string>
			<key>SmileyName</key>
			<string>Melting Face</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[stareyes]</string>
			</array>
			<key>Filename</key>
			<string>Star Eyes.tif</string>
			<key>SmileyName</key>
			<string>Star Eyes</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[laughing]</string>
			</array>
			<key>Filename</key>
			<string>laughing.tif</string>
			<key>SmileyName</key>
			<string>Laughing</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[feelingsick]</string>
			</array>
			<key>Filename</key>
			<string>Feeling Sick.tif</string>
			<key>SmileyName</key>
			<string>Feeling Sick</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[sad]</string>
			</array>
			<key>Filename</key>
			<string>sad.tif</string>
			<key>SmileyName</key>
			<string>Sad</string>
		</dict>
		<dict>
			<key>ASCII</key>
			<array>
				<string>[happy]</string>
			</array>
			<key>Filename</key>
			<string>smile.tif</string>
			<key>SmileyName</key>
			<string>Blank</string>
		</dict>
	</array>
	<key>SmileysPerRow</key>
	<integer>10</integer>
</dict>
</plist>
